@charset "ISO-8859-1";


html {
    height: fit-content;
    width: fit-content;
}

/*
body {
    background: #ccc;
    border-width: 5px;
    display: flex;
    flex-direction: column;
}
*/

body {
    background: #ccc;
    padding: 0px;
    border-style: inset;
    border-width: 5px;
}

body.dark-mode {
    background: #121212;
    color: #ffffff;
    border-color: #555555;
}

h1 {
    position: sticky;
    top: 0px;
    z-index: 1; /* Sit on top */
    margin-top: 0px;
    margin-bottom: 0px;
    background: #ccc;
    padding: 0px;
    border-style: outset;
    border-width: 5px;
}

body.dark-mode h1 {
    background: #333333;
    border-color: #555555;
}

nav {
    position: absolute;
    margin-right: 0px;
    left: 10px;
    width: 160px;
    top: 75px;
    bottom: 50px;
    background: #ccc;
    padding-left: 5px;
    padding-top: 5px;
    border-style: outset;
    border-width: 5px;
}

body.dark-mode nav {
    background: #333333;
    border-color: #555555;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
  
}

/* divisions which appear to be raised */
div.raised {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background: #ccc;
    padding: 0px;
    border-style: outset;
    border-width: 5px;
}

body.dark-mode div.raised {
    background: #333333;
    border-color: #555555;
}

div.hidden {
    display: none;
}

/* the section holding the board and display canvas */
section {
    padding: 0px;
    background-color: #ccc;
}

body.dark-mode section {
    background-color: #333333;
}

/* the section holding the canvas */
div#board {
    background-color: #ccc;
    border-color: #eee;
    border-style: ridge;
    border-top-width: 5px;
    border-left-width: 5px;
    border-bottom-width: 5px;
    border-right-width: 5px;
    /* border-width: 5px; */
}

body.dark-mode div#board {
    background-color: #333333;
    border-color: #555555;
}

/* the section holding the number of mines */
div#display {
    background-color: #ccc;
    border-color: #eee;
    border-style: ridge;
    border-top-width: 5px;
    border-left-width: 5px;
    border-bottom-width: 0px;
    border-right-width: 5px;
    /* border-width: 5px; */
}

body.dark-mode div#display {
    background-color: #333333;
    border-color: #555555;
}

/* canvases which hold LED digits */
canvas.led {
    background-color: black;
    border-style: inset;
    border-width: 4px;
}

body.dark-mode canvas.led {
    background-color: #222222;
    border-color: #555555;
}

button {
    margin: 0px;
    width: 150px;
    height: 40px;
    border-style: outset;
    border-color: #aaa;
    border-width: 6px;
    background-color: #ccc;
    color: #000;
}

body.dark-mode button {
    border-color: #555555;
    background-color: #444444;
    color: #fff;
}

button.small {
    width: 40px;
    height: 40px;
}

button:hover {
    background-color: #ccddee;
    cursor: pointer;
}

body.dark-mode button:hover {
    background-color: #445566;
}

input, select {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
}

body.dark-mode input, body.dark-mode select {
    background-color: #444444;
    color: #fff;
    border: 1px solid #555555;
}

.radioButtons {
    display: inline-block;
}

/* make the radio button larger*/
.radioButton {
    margin: 0px;
    margin-right: 5px;
    height: 20px;
    width: 20px;
}

.radioButtons label {
    display: block;
    float: left;
    white-space: nowrap;
    width: 150px;
}

.radioButtons input {
    vertical-align: middle;
    background-color: turquoise;
}

.radioButtons label span {
    vertical-align: middle;
}

/* for label + text combos*/
.block label {
    display: inline-block;
    width: 50px;
    text-align: right;
}

.block input {
    display: inline-block;
    width: 80px;
    text-align: left;
}

/* make the tick box bigger*/
.checkbox {
    position: relative;
    margin: 0px;
    height: 20px; 
    width: 20px;
}

.checkboxes {
    display: inline-block;
    position: relative;
/*    height: 24px;  */
    width: 150px;
}

.checkboxes label {
    display: block;
    float: left;
    padding-right: 10px;
    white-space: nowrap;
}

.checkboxes input {
    vertical-align: middle;
}

.checkboxes label span {
    vertical-align: middle;
}

body.dark-mode .checkboxes label span,
body.dark-mode select,
body.dark-mode button {
    color: #ffffff;
}

a {
    color: rgb(26, 13, 171);
}

a:visited {
    color: rgb(104, 29, 168);
}

body.dark-mode a {
    color: rgb(126, 170, 255);
}

body.dark-mode a:visited {
    color: rgb(209, 158, 250);
}

/* Tooltip container */
.tooltip {
    position: absolute;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    white-space: nowrap;
    /* width: 200px; */
    /* background-color: transparent; */
    background-color: rgba(204, 204, 204, 0.5);
    color: black;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

body.dark-mode .tooltip .tooltiptext {
    background-color: rgba(51, 51, 51, 0.5);
    color: #ffffff;
}

@media (hover: hover) and (pointer: fine) {
    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
}



/* Used by the local storage window */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    padding: 0px;
    background-color: #ccc;
    border-color: #eee;
    border-style: ridge;
    border-width: 5px;
    box-shadow: rgba(0, 0, 0, 0.6) 10px 10px 6px;
}

body.dark-mode .modal-content {
    background-color: #333333;
    border-color: #555555;
}

#propertiesHeader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    border-color: #eee;
    border-style: ridge;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 5px;
    border-right-width: 0px;
}

body.dark-mode #propertiesHeader {
    border-color: #555555;
}

