@charset "ISO-8859-1";

body {
	background: #ccc;
  	padding: 10px;
  	border-style: inset;
  	border-width: 5px;
  	overflow: auto;
}

h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    /* float: top; */
    background: #ccc;
    padding: 5px;
    border-style: outset;
    border-width: 5px;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  margin-right: 20px;
  width: 160px; 
  height: 100%;
  background: #ccc;
  padding: 10px;
  border-style: outset;
  border-width: 5px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
  
}

/* divisions which appear to be raised */
div.raised {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background: #ccc;
    padding: 0px;
    border-style: outset;
    border-width: 5px;
}

/* the section holding the board and display canvas */
section {
  float: left;
  padding: 0px;
  background-color: #ccc;
}

/* the section holding the canvas */
div#board {
  padding: 0px;
  background-color: #ccc;
  border-style: inset;
  border-top-width: 5px;
  border-left-width: 5px;
  border-bottom-width: 1px;
  border-right-width: 5px;
  /* border-width: 5px; */
}


/* the section holding the canvas */
div#display {
  padding: 0px;
  background-color: #ccc;
  border-style: inset;
  border-top-width: 5px;
  border-left-width: 5px;
  border-bottom-width: 1px;
  border-right-width: 5px;
  /* border-width: 5px; */
}


/* canvases which hold LED digits */
canvas.led {
    padding: 0px;
    background-color: #ccc;
    border-style: inset;
    border-top-width: 5px;
    border-left-width: 5px;
    border-bottom-width: 1px;
    border-right-width: 5px;
    margin: 5px;
    margin-bottom: 2px;
}

button {
	margin: 5px;
	width: 150px;
	height: 40px;
	padding: 5px;
  	border-style: outset;
  	border-width: 5px;
}

/* make the radio button larger*/
.radioButton {
    height: 20px;
    width: 20px;
}

.radioButtons label {
    display: block;
    float: left;
    padding-right: 10px;
    white-space: nowrap;
    width: 150px;
}

.radioButtons input {
    vertical-align: middle;
}

.radioButtons label span {
    vertical-align: middle;
}

/* for label + text combos*/
.block label {
    display: inline-block;
    width: 50px;
    text-align: right;
}

.block input {
    display: inline-block;
    width: 100px;
    text-align: left;
}

/* make the tick box bigger*/
.checkbox {
    height: 20px;
    width: 20px;
}

.checkboxes label {
    display: block;
    float: left;
    padding-right: 10px;
    white-space: nowrap;
}

.checkboxes input {
    vertical-align: middle;
}

.checkboxes label span {
    vertical-align: middle;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        white-space: nowrap;
        /* width: 200px; */
        /* background-color: transparent; */
        background-color: rgba(204, 204, 204, 0.5);
        color: black;
        text-align: left;
        font-size: 24px;
        font-weight: bold;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}